.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
}

.sidebarWrapper {
  padding: 20px;
}
.sidebarList {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebarItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.sidebarIcon {
  margin-right: 15px;
}
.sidebarButton {
  border: none;
  padding: 10px;
  width: 150px;
  font-weight: 500;
  cursor: pointer;
}
.sidebarHr {
  margin: 10px 0;
  border: none;
  height: 2px;
  background-color: rgb(180, 175, 175);
}
.sidebarFriendList {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebarFriendListItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.sidebarFriendImg {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
